.item-list {
    width: 80%;
    flex-direction: column;
    margin: 1.5rem;
    font-size: 1.2rem;
}

.item-list .list-group-item {
    cursor: pointer;
    transition: 0.5s;
}

.item-list .list-group-item:hover {
    transition: 0.5s;
    background-color: #444444;
}